.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container a {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 2rem;
}

.projects-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
