.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container a {
  text-decoration: none;
  color: #006eaf;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 2px solid #006eaf;
  background: url("./spikes.png");
  margin: 2rem;
  border-radius: 10px;
  transition: background-color 0.3s ease-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#projects-subtitle {
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

.projects-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects-gallery a:hover {
  font-size: 0;
  background: none;
  background-color: white;
}

.projects-gallery a:hover:after {
  content: attr(data-hover);
  margin: 1rem;
  color: #006eaf;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  transition: 0.2s;
}

.projects-header {
  color: white;
  width: 80vw;
  text-align: center;
  text-shadow: 2px 2px 0 #006eaf, 2px -2px 0 #006eaf, -2px 2px 0 #006eaf,
    -2px -2px 0 #006eaf, 2px 0px 0 #006eaf, 0px 2px 0 #006eaf,
    -2px 0px 0 #006eaf, 0px -2px 0 #006eaf, 2px 2px 2px #006eaf;
}
