#skills {
  padding: 3rem 0;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  background: url("./just-waves.png");
}
.skills-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-front img {
  max-height: 150px;
}

.card-back h3 {
  margin: 1rem 0 0 0;
  color: #005292;
}

.card-back p {
  width: 75%;
  color: #006eaf;
}

.card-front,
.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  width: 200px;
  margin: 1rem;
  height: 200px;
  transition: all 0.5s ease-in-out;
  border: 2px solid #008ecc;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-front:hover,
.card-back:hover {
  cursor: pointer;
}
